.post .entry-title {
	color: #222;
	margin-bottom: 70px;
	font-size: 30px !important;
}

.entry-content p {
	text-align: justify;
	font-family: montserrat;
	font-size: 14px;
}


.contenuCours {
	// background-color: red;
}