@charset "UTF-8";
.animTitre {
  transition: transform 0.5;
  transform: translate(0);
  opacity: 1; }

.animImg {
  transition: transform 0.5;
  transform: translate(0);
  opacity: 1; }

body {
  background-color: #F7F9F5; }

@media (min-width: 500px) {
  .site-main {
    width: 80vw;
    margin: 0 auto; } }

#grid {
  width: 100vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px; }
  @media (min-width: 500px) {
    #grid {
      width: 80vw;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 800px) {
    #grid {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; } }

.unCours {
  height: 100%;
  width: 100%;
  color: #1572a9;
  padding: 15px;
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: box-shadow 0.2s, border 0.2s, transform 0.2s; }
  .unCours:hover {
    box-shadow: 0 0 7px #bbb;
    border-color: #1572a9;
    transform: translateY(-5px); }

.entry-title, .cours-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #444; }

.cours-title {
  color: #2b4d9f; }

.cours-title:first-child::before {
  opacity: 0; }

/* Couleurs par session*/
.session1 {
  background-color: #eff599; }

.session2 {
  background-color: #f4e590; }

.session3 {
  background-color: #f4d17d; }

.session4 {
  background-color: #f4bf6c; }

.session5 {
  background-color: #f4a85b; }

.session6 {
  background-color: #f49366; }

.entry-header a {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #999;
  background-color: white;
  border-radius: 2px; }

.site-branding .site-title {
  text-transform: uppercase;
  font-weight: 800; }

.legende figcaption {
  font-style: italic;
  color: #2b4d9f; }

figure img {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition-delay: 0.2s;
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0; }

h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #2b4d9f;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  opacity: 0;
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
  transition-timing-function: ease-in; }

.post .entry-title, .post .cours-title {
  color: #222;
  margin-bottom: 70px;
  font-size: 30px !important; }

.entry-content p {
  text-align: justify;
  font-size: 14px; }

.excerpt {
  text-align: justify;
  font-size: 14px; }

#titreAccueil {
  color: #222;
  padding-left: 20px;
  font-size: 20px; }
  #titreAccueil ::before {
    opacity: 0 !important; }
  @media (min-width: 500px) {
    #titreAccueil {
      font-size: 30px;
      padding-left: 0; } }

.sousTitreAccueil {
  color: #444;
  padding-left: 20px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px; }
  @media (min-width: 500px) {
    .sousTitreAccueil {
      font-size: 23px;
      padding-left: 0; } }

#titreAccueil::before {
  opacity: 0 !important; }

.sousTitreAccueil::before {
  display: none; }

.desc {
  font-size: 16px; }

/* Styles spécifiques au menu mobile */
/*----------------------------------------*/
#menuToggle {
  display: block;
  position: relative;
  z-index: 200;
  top: 55px;
  margin-left: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; }

#menuToggle span {
  border-radius: 10px;
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #000;
  z-index: 1;
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#span1 {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, -4px);
  transform: rotate(45deg) translate(0px, -4px); }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, 4px);
  transform: rotate(-45deg) translate(0, 4px); }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  transform: none; }

#menuMob {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding-top: 120px;
  background-color: #fff;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  transition: -webkit-transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1); }

.menuMobContact {
  width: 110vw !important;
  height: 110vh !important; }

#menuMob li {
  width: 77%;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 6px 0px 0px 11px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  transition: background-color 0.1s; }

#menuMob i,
#menuMob p {
  display: inline-block; }

#menuMob i {
  line-height: 25px;
  font-size: 20px; }

#menuMob p {
  position: relative;
  top: -4px;
  padding-left: 20px; }

.separateur {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  padding-right: 25px;
  background-color: #ddd; }

#menuMob #titre {
  position: relative;
  top: -67px;
  font-weight: 600;
  font-size: 22px;
  padding-left: 50px; }

#menuMob #soustitre {
  position: relative;
  top: -80px;
  padding-left: 50px;
  font-weight: 300;
  opacity: 0; }

#menuMob #soustitre2 {
  position: relative;
  top: -115px;
  padding-left: 50px;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  opacity: 0; }

.separateur_01 {
  position: relative;
  top: -100px;
  left: 111px;
  width: 152px;
  opacity: 0; }

.separateur_02 {
  margin-top: -110px; }

#menuMob .actif {
  color: #2979FF; }

#menuMob .actif {
  background-color: #D5ECFF; }

#menuMob a > li:hover {
  background-color: #D5ECFF; }

#menu_mobile {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  display: block;
  margin-top: -30px; }

/*----------------------------------------*/
@media screen and (max-width: 1024px) {
  #menuMob #titre {
    padding-bottom: 20px; }
  #contenu_pages h1:nth-child(1) {
    margin-top: 40vh; }
  #titre_contact {
    padding-top: 15vh;
    padding-bottom: 10vh; }
  #menu_mobile {
    margin-top: -30px; }
  footer {
    padding-top: 1px;
    margin-top: 40px; }
  footer > div:first-child > div {
    width: 100%;
    display: block; }
  footer > div:first-child > div:nth-child(even) {
    display: none; }
  .contact_main {
    width: 95vw; }
  .me_contacter {
    /*height: 1030px;*/
    width: 95vw; }
  #spacer_contact {
    width: 4vw; }
  .contact_text:nth-child(4) {
    width: 35vw;
    display: inline-block;
    max-width: 800px; }
  .contact_text:nth-child(6) {
    width: 35vw;
    display: inline-block;
    max-width: 800px; }
  .contact_text:nth-child(4) .barre_bleue {
    width: 35vw;
    max-width: 800px; }
  .contact_text:nth-child(6) .barre_bleue {
    width: 35vw;
    max-width: 800px; }
  .contact_text {
    width: 74vw; }
  .barre_bleue {
    width: 74vw; }
  .contact_bande_bleue {
    width: 47.5vw; }
  #ecran_accueil h3 {
    font-size: 2.8vw; } }

@media screen and (max-width: 768px) {
  .barre_bleue {
    width: 90vw; }
  .contact_bande_bleue {
    width: 100vw;
    max-width: 100vw;
    margin: 0; }
  #menuMob li {
    margin-top: 0px;
    margin-bottom: 0px; }
    #menuMob li p {
      padding: 0px;
      margin: 0px; } }

/*----------  Animations menu  -----------*/
/*----------------------------------------*/
.sepa_sitePortfolio {
  -webkit-animation-name: enterTop;
  animation-name: enterTop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.txt_sitePortfolio {
  -webkit-animation-name: enterTop;
  animation-name: enterTop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.txt_sousTitre {
  -webkit-animation-name: enterLeft;
  animation-name: enterLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0; }
  66% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0; }
  66% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes enterTop {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  66% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes enterTop {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  66% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

body {
  font-family: Montserrat; }
