.excerpt {
    text-align: justify;
    font-family: montserrat;
    font-size: 14px;
}

#titreAccueil {
    color: #222;
    padding-left: 20px;
    font-size: 20px;
    ::before {
        opacity: 0 !important;
   } 

    @include bp(tablette) {
        font-size: 30px;
        padding-left: 0;
    }
}
.sousTitreAccueil {
    color: #444;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;

    @include bp(tablette) {
        font-size: 23px;
        padding-left: 0;
    }
}

#titreAccueil::before {
        opacity: 0 !important;
   }  
.sousTitreAccueil::before {
    	display: none;
   } 