.animTitre {
	transition: transform 0.5;
	// transition-delay: 1s;
	transform: translate(0);
	opacity: 1;
}
.animImg {
	transition: transform 0.5;
	// transition-delay: 1s;
	transform: translate(0);
	opacity: 1;
}